@import "../config";

body {
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background0;
}

#site-container {
  background-color: $background3;
  border: 1px solid $border-color3;
  border-radius: 20px;
  margin: auto;
  width: $site-width;
  padding-bottom: 10px;
}

#site-header {
  /*background-image: url("../images/header-bg.jpg");*/
  border-radius: 20px 20px 0 0;
  width: $site-width;
  height: $site-header-height;
}

#site-footer {
  clear: both;
}

#site-body {
  clear: both;
  position: relative;
  background-color: $background1;
  border: 1px solid $border-color1;
  border-radius: 20px;
  margin: 0 10px 0 10px;
  height: 500px;
  padding: 25px 15px;
}

#site-body .deco2 {
  bottom: -7px;
  right: -5px;
  position: absolute;
  background-image: url("../images/flowers/br.png");
  width: 45px;
  height: 23px;
}

#site-content {
  float: left;
  /* background-color: #FFFFFF;
  border: 1px dashed #e8cdf0;
  border-radius:20px;*/
  position: relative;
  width: 100%;
  height: 100%;
}

#site-side {
  clear: both;
  z-index: 1;
  position: absolute;
  background-color: $background2;
  border: 1px solid $border-color1;
  border-left-color: $border-color2;
  z-index: 1;
  border-radius: 0 60px 20px 0;
  min-width: 50px;
  min-height: $site-side-min-height;
  top: 25px;
  right: -52px;
}

#site-auth {

  white-space: nowrap;
}




